
<!-- Header -->
<div id="appNavbar" style="width: 100% !important;">
  <mat-toolbar color="primary" >
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Fantasy Insanity</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        
        <a href="#" mat-button>Home</a>
        <a href="#" mat-button>News</a>
        <a href="#" mat-button>About</a>
        <a href="#" mat-button>League</a>
        <a href="#" mat-button>Draft</a>
        <a href="#" mat-button>Records</a>
        <a href="#" mat-button>Profile</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item><mat-icon>home</mat-icon>Home</a>
        <a href="#" mat-list-item><mat-icon>event_note</mat-icon>News</a>
        <a href="#" mat-list-item><mat-icon>info</mat-icon>About</a>
        <a href="#" mat-list-item><mat-icon>stars</mat-icon>League</a>
        <a href="#" mat-list-item><mat-icon>event_note</mat-icon>Draft</a>
        <a href="#" mat-list-item><mat-icon>event_note</mat-icon>Records</a>
        <a href="#" mat-list-item>
          <mat-icon>account_circle</mat-icon>Profile
        </a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

